# BasedOnStyle: LLVM
# IndentWidth: 2
# UseTab: Never
# ColumnLimit: 80
# AllowShortIfStatementsOnASingleLine: false
# BreakBeforeBraces: Allman
# AlignAfterOpenBracket: BlockIndent
# BreakConstructorInitializersBeforeComma: true
# BinPackParameters: false
# AllowAllParametersOfDeclarationOnNextLine: false
# BreakAfterReturnType: Automatic
# PenaltyReturnTypeOnItsOwnLine: 2000