# BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Allman
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
Cpp11BracedListStyle: true